# Ruby (bundler)
Gemfile.lock @Anouchka-M @annabelle-scalingo @TheoPouletSouchard @aurelien-reeves-scalingo

# Github Actions
.github/workflows/* @Anouchka-M @annabelle-scalingo @TheoPouletSouchard @aurelien-reeves-scalingo
